#parentbox{
    display: flow-root;
    width: 600px;
}
#box-1{
    flex: 1;
    border: solid 2px violet;
    box-shadow: rgb(150,150,150) 5px 5px;
}
#box-2{
    flex: 1;
}
#box-3 {
    flex: 1;
}
#box-4 {
    flex: 1;
}