body{
 background-color: darkgray;
}
h2 {            
    font-size:  49px;
    color: red;
    background-color: aqua
}
#main_wrapper{
    width: 900px;
    margin: auto;
}
.red_button{
    color: blue
}
div[name]{
    color: green
}
div>ul>li:nth-child(odd){
    color: brown
}
div#last_div>ul>li:last-child{
    color: orange;
    font-size: 59px;
}
div#last_div{
    width: 200px;
    margin: 20px;
    padding: 10px;
    font: italic;
    font-size: 19px;
    border: 2px solid #000000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}